#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build --before configure
	dh build --after build
	touch $@

clean: unpatch
	dh $@

install: install-stamp
install-stamp: build-stamp
	dh install --before dh_auto_install
	
	# Enforce executable bit on debian/rules, and create directory
	# structure for modules source
	install -D -m 0755 debian/rules.modules \
		debian/tmp/modules/fsam7400/debian/rules
	
	# Prepare the other debian stuff
	for f in *.modules.in control compat copyright changelog; do \
		install -m 0644 debian/$$f \
			debian/tmp/modules/fsam7400/debian/; \
	done
	
	# Prepare upstream source
	tar -cf - -T debian/driver.files | \
		tar -C debian/tmp/modules/fsam7400/ -xf -
		
	# Prepare the debian source tarball
	tar jcf debian/fsam7400-source/usr/src/fsam7400.tar.bz2 \
		-C debian/tmp modules
	
	dh install --after dh_auto_install
	touch $@

binary-arch: install
	# We have nothing to do by default.
	#dh $@

binary-indep: install
	dh $@

binary: binary-arch binary-indep
.PHONY: binary binary-arch binary-indep install clean build
